<div *ngIf="jokes">
  <div class="row">
    <div class="col-lg-4" *ngFor="let joke of jokes | async" (click)="goToJoke(joke)">
      <div class="card">
        <div class="card-block">
          
          <div class="row">
            <div class="col-lg-3">
              <div class="date">
                <span class="day">{{joke.date | date: 'dd'}}</span>
                <br>
                {{joke.date | date: 'MMMM'}}
              </div>
            </div>
            <div class="col-lg-9 center">
              <div class="row">
                <span class="title">{{joke.title}}</span>
              </div>
              <div class="row">
                <div class="col-lg-7"></div>
                <div class="col-lg-5">
                <rating class="stars" [(ngModel)]="rating" [max]="max" [readonly]="isReadOnly"></rating>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
