<div class="navbar navbar-inverse navbar-fixed-top skyline">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="nav-text">About</a></li>
        <li><a href="#" class="nav-text">Archives</a></li>
        <li><a href="#" class="nav-text">Subscription</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="wide">
  	<div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">Logo</div>
    <div class="col-xs-5 line"><hr></div>
</div>

<img src="../../../assets/temp-cover.png" style="background-color: #F18B84" class="img-fluid" alt="Responsive image">

<!-- /.container -->