<form>
    <div class="form-group">
      <label for="email"> Email </label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="email.email" name="email">
    </div>

    <div class="form-group">
            <label>Subscription Type</label>
           
                <input type="radio" [(ngModel)]="email.subscriptionType" name="subType" id="daily" value="daily">
                <label for="checkrads_9">Daily</label>
           
                <input type="radio" [(ngModel)]="email.subscriptionType" name="subType" id="weekly" value="weekly">
                <label for="checkrads_10">Weekly</label>
        
                <input type="radio" [(ngModel)]="email.subscriptionType" name="subType" id="monthly" value="monthly">
                <label for="checkrads_9">Monthly</label>
        </div>

</form>
<button (click)="subscribe()"> Submit </button>

<!--<div [hidden]="!loggedIn">
  <p> Manage Your Subscription </p>
</div>
<div [hidden]="loggedIn">
  <p> Log in to subscribe to daily, weekly, or monthly emails! </p>
</div>
<button (click)="appLogin()"> Log in </button>-->
