.parallax-container {
    background-color: #F2EEE2;
}

.date-today {
    color: #43C0F6;
    font-weight: bold;
    font-size: 2em;
}

.joke-content {
    font-size: 15px;
}

.title {
    color: #43C0f6;
    text-align: center;
}

.stars {
    font-size: 2em;
    color: #F5CE2B;
}

.rating {
    text-align: center;
    font-size: 2.3em;
}

.submit-button {
    font-size: .6em;
    margin-bottom: 3em;
}